


@import url('https://fonts.googleapis.com/css2?family=Estedad:wght@100..900&display=swap');







*{
margin: 0px;
padding: o;
box-sizing: border-box;
 font-family: "Estedad", sans-serif;
}

body{
    color:white;
    
}

nav{
    background-color:rgba(3, 27, 59);
    display: flex;
    justify-content: space-between;
    align-items: center;
      padding:20px 5%;
      text-align: center;
       width: 100%;
       position: fixed;
       z-index: 2000;
       
       
}

.logo{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    text-align: center;
    padding: 0px 10px;
    align-items: center;
}

.logo-icon{
    font-size: 18px;
    font-weight:900;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: blue;
    width: 32px;
    height: 32px;
    border-radius: 8px 8px;
}

.logo-text{
    font-size: 15px;
    text-align: center;
}

.logo-text p{
    font-size:5px;
    letter-spacing:1.5px;
    margin-top: -5px;
}

a{
    color: white;
    text-decoration: none;
}

.mass{
    display: flex;
    align-items: center;
    column-gap: 20px;
     font-size: 15px;
     
}

.go{
    display: flex;
    gap: 20px;
}

.go a, .material-symbols-outlined{
    display: flex;
}

 .btn-group{
    display: flex;
    column-gap: 20px;
}

.btn-group .btn2{
    background-color: rgba(151, 134, 134, 0.21);
    width: 80px;
    height: 35px;
    align-items: center;
    border-radius: 20px;
    border: none;
    font-size: 13px;
    color: white;
    padding: 0px 15px;
    cursor: pointer;
    text-align: center;

}

.btn-group .btn1{
    background: transparent;
    border: none;
     color: white;
     width: 80px;
     height: 35px;
     cursor: pointer;
     border-radius: 20px;
     align-items: center;
     padding: 0px 15px;
     font-size: 13px;
     text-align: center;

}

.btn-group .btn1:hover{
     background-color: rgba(151, 134, 134, 0.21);
    width: 80px;
    height: 35px;
    align-items: center;
    border-radius: 20px;
    border: none;
    font-size: 13px;
    color: white;
    padding: 0px 15px;
    cursor: pointer;
    text-align: center;
    
}

   #sign{
    width: 80px;
    height: 35px;
    border: none;
    border-radius: 20px;
    display: flex;
    font-size: 13px;
    gap: 2px;
    align-items: center;
    justify-content: center;
    background-color:rgba(211, 220, 228, 0.968);
    
     
}

  nav .sign-in{
    font-size: 15px;
    
    
}



.nav-img img{
    width: 25px;
    height: 25px;
    border-radius: 50%;

}

.first{
    display: flex;
    justify-content: space-between;
     background-color: #0066ff;
     height: fit-content;
     align-items: center;
     
}

.first .info{
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    padding-left: 20px;
    margin-top: 150px;
    
}

.first .acc-info-img{
    width: 60%;

}

.first .info h1{
    font-size: 50px;
    font-weight: 590;
    color:white;
    text-align:start;
     font-family: "Inter", sans-serif;
     padding-top: 20px;

}

.info h1 .cream-text{
    color: rgb(235, 218, 188);
}

.first .info .special{
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: rgb(243, 227, 198);
    font-family: "Estedad", sans-serif;
}

.first .info .btn-sec {
    display: flex;
    gap: 20px;
    border: none;
    
    }

.btn-sec button{
  background-color:rgba(3, 27, 59, 0.864);  
  border: none;
  width: 170px;
  height: 60px;
  display: flex;
  justify-content: center;
  border-radius: 14px;
  align-items: center;
  color: white;
  text-align: start;
  gap: 8px;
}

.first .info .btn-sec .fa-brands{
    font-size: 30px;
    color: white;
}

.first .info .btn-sec span{
    font-size:10px ;
    

}

.first .info .btn-sec p{
    font-size: 13px;
    font-weight: 600;
}

.licensed-img {
    justify-content:flex-start;
    align-items: center;
    display: flex;
    gap: 8px;
    margin-top: -10px;
}


.licensed-img b{
    font-size: 12px;
    font-weight: 400;
    color: wheat;
}

.licensed-img .frs-img{
    width: 14px;
}

.licensed-img .ndic-img{
    width: 45px;
}

.first .acc-info-img .person-img{
    max-width: 100%;
    height: auto;
}



#second{
    background-color: white;
   color:rgba(3, 27, 59);
    height: 300px;

    
}

.point{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 100px;
    text-align: center;
    

}

.point h2{
    font-size: 55px;
    font-weight: 600;
    color:rgba(3, 27, 59);
}

.point .monie-blue{
    color: #0066ff;
}

#second .point p{
    font-size: 19px;
    font-weight: 400;
    padding: 0px 140px;
    
}


#third{
    color:rgba(1, 29, 66, 0.977);
    margin-bottom: 100px;
}

.third-content{
    display: flex;
    justify-content: center;
    gap: 150px;
}

.instant-card{
    width: 50%;
    justify-content: center;
    padding-left: 90px;
    padding-right: 56px;
    

}

.third-img-container{
    width: 50%;
}

.debit-card{
    font-size: 16px;
    font-weight: 450;
    border: none;
    border-radius: 20px;
    padding: 5px 9px;
    background-color:rgba(203, 219, 236, 0.541);
    margin-bottom: 12px;
}

.instant-card h3{
    font-size: 40px;
    font-weight: 580;
    line-height: 40px;
    margin-bottom: 10px;
    color:rgba(1, 29, 66, 0.977);
}

.instant-card .third-p{
    font-size: 16px;
    color:rgba(17, 81, 165, 0.977);
    line-height:-0.5px;
    
}

.third-learn{
    width: 120px;
    height: 49px;
    border: none;
    border-radius: 10px;
    background-color:  oklab(45.989999999999995% -0.03124 -0.30635 / 0.753);
    color:white;
    margin-top: 10px;
}


.third-img{
    max-width:100%;
    height: auto;

}

#fourth{
    margin-bottom: 100px;
     color:rgba(1, 29, 66, 0.977);

}

.fourth-content{
     display: flex;
    justify-content: center;
    gap: 150px;

}

.personal-account{
     width: 50%;
    justify-content: center;
    padding-left: 90px;
    padding-right: 56px;
    

}

.fourth-img-container{
    width: 50%;
}

.personal-card{
    font-size: 16px;
    font-weight: 450;
    border: none;
    border-radius: 20px;
    padding: 5px 9px;
    background-color:rgba(203, 219, 236, 0.541);
    margin-bottom: 12px;
}

.personal-account h3{
    font-size: 40px;
    font-weight: 580;
    line-height: 40px;
    margin-bottom: 10px;
    color:rgba(1, 29, 66, 0.977);
}

.personal-account .fourth-p{
    font-size: 16px;
    color:rgba(17, 81, 165, 0.977);
    line-height:-0.5px;
    
}

.fourth-learn{
    width: 120px;
    height: 49px;
    border: none;
    border-radius: 10px;
    background-color:  oklab(45.989999999999995% -0.03124 -0.30635 / 0.753);
    color:white;
    margin-top: 10px;
}

.fourth-img{
    max-width:100%;
    height: auto;
    
}


#fifth{
    margin-bottom: 100px;
     color:rgba(1, 29, 66, 0.977);

}


.fifth-content{
     display: flex;
    justify-content: center;
    gap: 150px;

}

.payment{
     width: 50%;
    justify-content: center;
    padding-left: 90px;
    padding-right: 56px;
    

}

.fifth-img-container{
    width: 50%;
}

.payment-card{
    font-size: 16px;
    font-weight: 450;
    border: none;
    border-radius: 20px;
    padding: 5px 9px;
    background-color:rgba(203, 219, 236, 0.541);
    margin-bottom: 12px;
}

.payment h3{
    font-size: 40px;
    font-weight: 580;
    line-height: 40px;
    margin-bottom: 10px;
    color:rgba(1, 29, 66, 0.977);
}

.payment .fifth-p{
    font-size: 16px;
    color:rgba(17, 81, 165, 0.977);
    line-height:-0.5px;
    
}

.fifth-learn{
    width: 120px;
    height: 49px;
    border: none;
    border-radius: 10px;
    background-color:  oklab(45.989999999999995% -0.03124 -0.30635 / 0.753);
    color:white;
    margin-top: 10px;
}

.fifth-img{
    max-width:100% ;
    height: auto;
}


#sixth{
    margin-bottom: 100px;
     color:rgba(1, 29, 66, 0.977);

}


.sixth-content{
     display: flex;
    justify-content: center;
    gap: 150px;

}

.savings{
     width: 50%;
    justify-content: center;
    padding-left: 90px;
    padding-right: 56px;
    

}

.sixth-img-container{
    width: 50%;
}

.savings-card{
    font-size: 16px;
    font-weight: 450;
    border: none;
    border-radius: 20px;
    padding: 5px 9px;
    background-color:rgba(203, 219, 236, 0.541);
    margin-bottom: 12px;
}

.savings h3{
    font-size: 40px;
    font-weight: 580;
    line-height: 40px;
    margin-bottom: 10px;
    color:rgba(1, 29, 66, 0.977);
}

.savings .sixth-p{
    font-size: 16px;
    color:rgba(17, 81, 165, 0.977);
    line-height:-0.5px;
    
}

.sixth-learn{
       width: 120px;
    height: 49px;
    border: none;
    border-radius: 10px;
    background-color:  oklab(45.989999999999995% -0.03124 -0.30635 / 0.753);
    color:white;
    margin-top: 10px;
}

.sixth-img{
    max-width: 100%;
    height: auto;
}

#seventh{
     color:rgba(1, 29, 66, 0.977);
      background-color: rgb(247, 247, 248);
      border-radius: 20px;

     
}

.seventh-img-container{
    width: 40%;
    
    
}

.seventh-info{
    width: 60%;
    justify-content: center;
    align-items: start;
    margin-right:20px ;
    height: 480px;
    background-color: rgb(196, 230, 251);
    padding-left: 150px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.seventh-content{
    display: flex;
    justify-content: center;
    padding-top: 120px;
     
    
    
    
}

.seventh-img{
    width: 100%;
    height:480px;
    margin-left: 20px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

.seventh-info h4{
    font-size: 40px;
    line-height:40px;
    font-weight: 600;
    padding-top: 80px;
    
}

.seventh-blue{
     color:oklab(45.989999999999995% -0.03124 -0.30635 / 0.753);
}

.seventh-info .seventh-p1{
    padding-top: 25px;
    color:rgba(38, 87, 151, 0.977);
    font-size: 17px;
}

.seventh-info .seventh-p2{
    padding-top: 25px;
     color:rgba(38, 87, 151, 0.977);
     font-size: 17px;
    
}

.seventh-learn{
       width: 120px;
    height: 49px;
    border: none;
    border-radius: 10px;
    background-color:  oklab(45.989999999999995% -0.03124 -0.30635 / 0.753);
    color:white;
    margin-top: 20px;

}



#eight{
     background-color: rgb(247, 247, 248);
     height:200px;
      color:rgba(1, 29, 66, 0.977);

}

.eight-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 240px;
    padding-top: 90px;
    padding-left: 20px;
}

.eight-b{
    font-size: 26px;
    font-weight: 600;
}

.eight-h{
    font-size: 22px;
    font-weight: 400;
    justify-content: center;
    margin-top:15px;
      color:rgba(38, 87, 151, 0.977);
}


#ninth{
     color:rgba(1, 29, 66, 0.977);
      background-color: rgb(247, 247, 248);
      height:410px;

    
}

#ninth-entire-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0px 25px;
}



.ninth-card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    width: 100%;
    height: 385px;
    background-color: white;
    padding-top:36px;
    padding-left: 25px;
    padding-bottom: 70px;
    border-radius: 20px;
    border:0.5px solid rgba(178, 204, 246, 0.463);

    
}

.shield-container .shield{
    font-size:40px;
    color:rgba(1, 29, 66, 0.977);
     background-color: rgba(252, 232, 196, 0.321);
     width: 75px;
     height: 75px;
     justify-content: center;
     display: flex;
     align-items: center;
     border-radius: 18px;
}


.ninth-h1{
    font-size:14px;
    padding-top:40px ;
    padding-bottom:9px;
    color:  oklab(45.989999999999995% -0.03124 -0.30635 / 0.753);
}

.ninth-b{
    font-size:23px;
    font-weight: 600;
    
    
}

.ninth-p{
    font-size:19px ;
    letter-spacing: -1px;
    padding-right:30px;
    line-height: 25px;
     color:rgba(38, 87, 151, 0.977);

}



.beach-container .beach{
    font-size:40px;
    color:rgba(1, 29, 66, 0.977);
    background-color: rgba(252, 232, 196, 0.321);
     width: 75px;
     height: 75px;
     justify-content: center;
     display: flex;
     align-items: center;
     border-radius: 18px;
}


.ninth-h2{
    font-size:14px;
    padding-top:40px ;
    padding-bottom:9px;
    color:  oklab(45.989999999999995% -0.03124 -0.30635 / 0.753);
}

.ninth-b2{
    font-size:23px;
    font-weight: 600;
    
    
}

.ninth-p2{
    font-size:19px ;
    letter-spacing: -1px;
    padding-right:35px;
    line-height: 25px;
     color:rgba(38, 87, 151, 0.977);

}






.mobile-container .mobile{
    font-size:40px;
    color:rgba(1, 29, 66, 0.977);
    background-color: rgba(252, 232, 196, 0.321);
     width: 75px;
     height: 75px;
     justify-content: center;
     display: flex;
     align-items: center;
     border-radius: 18px;
}


.ninth-h3{
    font-size:14px;
    padding-top:40px ;
    padding-bottom:9px;
    color:  oklab(45.989999999999995% -0.03124 -0.30635 / 0.753);
}

.ninth-b3{
    font-size:23px;
    font-weight: 600;
    
    
}

.ninth-p3{
    font-size:19px ;
    letter-spacing: -1px;
    padding-right:35px;
    line-height: 25px;
     color:rgba(38, 87, 151, 0.977);

}









#tenth{
     color:rgba(1, 29, 66, 0.977);
      background-color: rgb(247, 247, 248);
      height:370px;

    
}

#tenth-entire-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0px 25px;
}



.tenth-card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    width: 100%;
    height: 385px;
    background-color: white;
    padding-top:36px;
    padding-left: 25px;
    padding-bottom: 70px;
    border-radius: 20px;
    border:0.5px solid rgba(178, 204, 246, 0.463);

    
}

.lock-container .lock{
    font-size:40px;
    color:rgba(1, 29, 66, 0.977);
    background-color: rgba(252, 232, 196, 0.321);
     width: 75px;
     height: 75px;
     justify-content: center;
     display: flex;
     align-items: center;
     border-radius: 18px;
}


.tenth-h1{
    font-size:14px;
    padding-top:40px ;
    padding-bottom:9px;
    color:  oklab(45.989999999999995% -0.03124 -0.30635 / 0.753);
}

.tenth-b{
    font-size:23px;
    font-weight: 600;
    
    
}

.tenth-p{
    font-size:19px ;
    letter-spacing: -1px;
    padding-right:30px;
    line-height: 25px;
     color:rgba(38, 87, 151, 0.977);

}






.space-container .space{
    font-size:40px;
    color:rgba(1, 29, 66, 0.977);
     background-color: rgba(252, 232, 196, 0.321);
     width: 75px;
     height: 75px;
     justify-content: center;
     display: flex;
     align-items: center;
     border-radius: 18px;
}


.tenth-h2{
    font-size:14px;
    padding-top:40px ;
    padding-bottom:9px;
    color:  oklab(45.989999999999995% -0.03124 -0.30635 / 0.753);
}

.tenth-b2{
    font-size:23px;
    font-weight: 600;
    
    
}

.tenth-p2{
    font-size:19px ;
    letter-spacing: -1px;
    padding-right:30px;
    line-height: 25px;
     color:rgba(38, 87, 151, 0.977);

}




.phone-container .phone{
    font-size:40px;
    color:rgba(1, 29, 66, 0.977);
   background-color: rgba(252, 232, 196, 0.321);
     width: 75px;
     height: 75px;
     justify-content: center;
     display: flex;
     align-items: center;
     border-radius: 18px;
}


.tenth-h3{
    font-size:14px;
    padding-top:40px ;
    padding-bottom:9px;
    color:  oklab(45.989999999999995% -0.03124 -0.30635 / 0.753);
}

.tenth-b3{
    font-size:23px;
    font-weight: 600;
    
    
}

.tenth-p3{
    font-size:19px ;
    letter-spacing: -1px;
    padding-right:40px;
    line-height: 25px;
     color:rgba(38, 87, 151, 0.977);

}



#eleventh{
     color:rgba(1, 29, 66, 0.977);
      background-color: rgb(247, 247, 248);
      height: 270px;

    
}


.eleventh-content{
    display:flex;
    justify-content: flex-start;
    gap: 90px;
    padding-left: 20px;
    padding-top: 180px;

}


.eleventh-img-container .eleventh-img{
    width: 18px;
    height: 18px;
    object-fit: cover;
    
}


.eleventh-h1{
    font-size: 40px;
    font-weight: 500;
    color:rgba(1, 29, 66, 0.977);
    line-height: 40px;
}


#twelfth{
     color:rgba(1, 29, 66, 0.977);
      background-color: rgb(247, 247, 248);
      height:300px;
      width: 100%;
      overflow-x: scroll;
      overflow-y: hidden;
      
    position: relative;
    
}
#twelfth::-webkit-scrollbar{
    height: 1px;
}


.twelfth-container{
    display:flex;
    justify-content:space-between;
    padding: 0px 20px;
    gap: 20px;
    width: fit-content;
    position: relative;
     
    

}


.step{
    width: 400px;
    
    
}

.twelfth-container .circle{
    font-size: 22px;
    font-weight:700 ;
    width: 70px;
    height: 70px;
    align-items: center;
    justify-content: center;
    text-align: center;
     background-color:white;
     color:rgba(1, 29, 66, 0.7);
    display: flex;
    margin-bottom: 30px;
    border-radius: 50%;
    flex-shrink: 0;

    
}
.twelfth-line{
    margin-left: 450px;
    height: 2px;
    width: 100%;
    margin-bottom: 30px;
    background-color: white;
    position: absolute;
    top: 34px;
}




.twelfth-h3{
    font-size: 23px;
    font-weight: 600;
    line-height: 28px;
}

.twelfth-p{
    font-size: 15px;
    color:rgba(38, 87, 151, 0.977);
    line-height: 20px;
}

.twelfth-h3-2{
    font-size: 23px;
    font-weight:600;

}

.twelfth-p-2{
    font-size: 15px;
    color:rgba(38, 87, 151, 0.977);
    line-height: 20px;
}

.twelfth-h3-3{
    font-size: 23px;
    font-weight: 600;
}

.twelfth-p-3{
    font-size: 15px;
    color:rgba(38, 87, 151, 0.977);
    line-height: 20px;
}

.twelfth-h3-4{
    font-size: 23px;
    font-weight: 600;
}

.twelfth-p-4{
    font-size: 15px;
    color:rgba(38, 87, 151, 0.977);
    line-height: 20px;
}


#thirteen{
    height: 250px;
     background-color: rgb(247, 247, 248);

}

.btn-thirteen{
    display: flex;
    gap: 20px;
    border: none;
    justify-content: center;
}

.btn-thirteen button{
    background-color: rgba(6, 26, 92, 0.925);
    border: none;
    width: 170px;
    height: 60px;
    display: flex;
    justify-content: center;
    border-radius: 14px;
    align-items: center;
    color: white;
    text-align: start;
    gap: 8px;
}


.btn-thirteen .fa-brands{
    font-size: 30px;
    color: white;
}

.btn-thirteen span{
    font-size: 10px;
}

.btn-thirteen p{
    font-size: 13px;
    font-weight: 600;
}


#fourteen{
    height: 900px;
      background-color: rgb(247, 247, 248);
      color: rgba(3, 15, 52, 0.925);

}

.fourteen-container{
    display: flex;
    flex-direction: column;
    margin-left: 84px;
}

.fourteen-container h1{
    font-size: 41px;
    font-weight: 550;
}

.fourteen-container p{
    font-size: 22px;
    font-weight: 400;
     color:rgba(38, 87, 151, 0.977);
     line-height: 28px;
     letter-spacing: -1px;
}


.all-fourteen-description-container{
    display: flex;
    justify-content:center;

    gap: 20px;
    padding-left: 55px;
    padding-right: px;
    
}


.fourteen-description-container{
    display: flex;
    flex-direction: column;
    
}

.fourteen-img-1{
    max-width: 360px;
    width: 100%;
    height:auto;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 50px;
    
}

.fourteen-description{
    display: flex;
    gap: 190px;
}

.fourteen-description h2{
    font-size: 15px;
    font-weight: 450;
    color: #0066ff;
    letter-spacing: -1;
}

.fourteen-description p{
    font-size: 14px;
    color: gray;

}

.fourteen-info h3{
    font-size: 24px;
    font-weight: 560;
    letter-spacing: -1px;
    line-height: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
    color: rgba(6, 26, 92, 0.884);
}

.fourteen-info b{
    font-size: 14px;
    font-weight: 500;
    color: rgba(67, 65, 65, 0.68);
}


#fifteen{
    height: 300px;
     background-color: rgb(247, 247, 248);
       color: rgba(3, 15, 52, 0.925);
}

.fifteen-container{
    height: 300px;
    background-image: url(https://moniepoint.com/ctaL.svg);
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
    

}

.fifteen-overlay{
    background-color:  #001affb7;
    height: 300px;
    position: relative;
    padding-top: 80px;
    color: white;
    
}

.fifteen-overlay h1{
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 40px;
}

.fifteen-overlay button{
    width: 210px;
    height: 58px;
    display: flex;
    gap: 6px;
    font-size: 18px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: rgba(244, 218, 186, 0.934);
}

.fifteen-overlay button:hover{
    width: 200px;
    height: 55px;
    font-size: 16px;

}


.fifteen-overlay .bell{
    
    font-size: 20px;
    font-weight: 600;

    
}


#footer{
    height: 400px;
    background-color: rgba(8, 8, 33, 0.993);
    color: rgba(255, 255, 255, 0.311);
    
}

.footer-container{
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
}

.footer-container-des{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    
}

.foot-1:hover{
    text-decoration: underline;
}

.foot-2:hover{
    text-decoration: underline;
}

#footer p{
    font-size: 14px;
}

#footer  .des{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-weight: 390;
    line-height: 22px;
    letter-spacing: -0.8px;
    
}















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































    
}







.burger{
    display: none;
}






@media(max-width:847px){
    .first .info h1{
        font-size: 30px;
        font-weight: 390;
        padding-top: 10px;

    }

    .first .info .special{
        font-size: 14px;
        font-weight: 250;
        line-height: 18px;

    }


}


@media(max-width:768px){
    .first .acc-info-img .person-img{
        display: none;
    }
    .first .acc-info-img{
        display: none;
    }
    

    .first .info {
        width: 100%;
         display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
        
    }

     .third-content{
        flex-direction: column-reverse;
     }

}


























































    




